<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%= o.htmlWebpackPlugin.options.title %}</title>
</head>
<body>
    <div class='container' id="container"></div>
</body>
    <script language='javascript'>
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        window.fbAsyncInit = function() {
            FB.init({
                appId      : {%= o.htmlWebpackPlugin.options.appId %},
            xfbml      : true,
            status : true,
            cookie : true,
            oauth : true,
            version    : 'v2.5'
            });
        }.bind(this);
    </script>
    <script language='javascript' src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script language='javascript' src="{%= o.htmlWebpackPlugin.options.javascript %}"></script>
</html>
